body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#PageHeader1
{
   background-color: transparent;
   background-image: none;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#wb_Carousel1
{
   background-color: transparent;
   background-image: none;
}
#wb_Carousel1
{
   font-size: 0;
}
#Carousel1 .frame
{
   width: 992px;
   display: inline-block;
   overflow: hidden;
   height: 558px;
}
#Carousel1 .innerframe
{
   display: inline-block;
   height: 0;
   left: 0;
   margin-left: 0;
   position: absolute;
   top: 0;
   width: 992px;
}
#wb_Carousel1 .pagination
{
   bottom: 0;
   left: 0;
   position: absolute;
   text-align: center;
   vertical-align: middle;
   width: 100%;
   z-index: 998;
}
#wb_Carousel1 .pagination img
{
   border-style: none;
   padding: 12px 12px 12px 12px;
}
#Carousel1 .frame-1
{
   background-color: transparent;
   background-image: url(images/VIT-Chennai.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-attachment: fixed;
   background-position: 50% 0;
   background-size: cover;
}
#Carousel1 .frame-2
{
   background-color: transparent;
   background-image: url(images/desktop6_bk.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-attachment: fixed;
   background-position: 50% 0;
   background-size: cover;
}
#Carousel1 .frame-3
{
   background-color: transparent;
   background-image: url(images/service_bk1.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-attachment: fixed;
   background-position: 50% 0;
   background-size: cover;
}
#Layer1
{
   background-color: #CD5C5C;
   background-image: none;
   border: 1px transparent solid;
   -moz-box-shadow: 1px 0px 3px #000000;
   -webkit-box-shadow: 1px 0px 3px #000000;
   box-shadow: 1px 0px 3px #000000;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#wb_CssMenu1
{
   border: 0px #FFFFFF solid;
   background-color: transparent;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 6px 0px 0px;
}
#wb_CssMenu1 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #FFFFFF none;
   background-color: #CD5C5C;
   background-image: none;
   font-family: "Bookman Old Style";
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   height: 30px;
   line-height: 30px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #FFFFFF;
   background-color: #A52A2A;
   background-image: none;
   border: 0px #FFFFFF none;
}
#wb_CssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu1 li:hover, #wb_CssMenu1 li a:hover
{
   position: relative;
}
#wb_CssMenu1 a.withsubmenu
{
   padding: 0 5px 0 5px;
   background-image: none;
}
#wb_CssMenu1 li:hover a.withsubmenu, #wb_CssMenu1 a.withsubmenu:hover
{
   background-image: none;
}
#wb_CssMenu1 ul ul
{
   position: absolute;
   left: 0;
   top: 0;
   visibility: hidden;
   width: 180px;
   height: auto;
   border: none;
   background-color: #CD5C5C;
   -moz-box-shadow: 0px 0px 4px #000000;
   -webkit-box-shadow: 0px 0px 4px #000000;
   box-shadow: 0px 0px 4px #000000;
}
#wb_CssMenu1 ul :hover ul
{
   left: 0px;
   top: 30px;
   padding-top: 0px;
   visibility: visible;
}
#wb_CssMenu1 .firstmain:hover ul
{
   left: 0px;
}
#wb_CssMenu1 li li
{
   width: 180px;
   padding: 0 0px 0px 0px;
   border: 0px #2F4F4F solid;
   border-width: 0 0px;
}
#wb_CssMenu1 li li.firstitem
{
   border-top: 0px #2F4F4F solid;
}
#wb_CssMenu1 li li.lastitem
{
   border-bottom: 0px #2F4F4F solid;
}
#wb_CssMenu1 ul ul a, #wb_CssMenu1 ul :hover ul a
{
   float: none;
   margin: 0;
   width: 168px;
   height: auto;
   white-space: normal;
   padding: 9px 6px 8px 6px;
   background-color: #CD5C5C;
   background-image: none;
   border: 0px #2F4F4F solid;
   color: #FFFFFF;
   font-family: "Bookman Old Style";
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   line-height: 13px;
   text-align: left;
   text-decoration: none;
}
#wb_CssMenu1 ul :hover ul .firstitem a
{
   margin-top: 0px;
}
#wb_CssMenu1 ul ul :hover a, #wb_CssMenu1 ul ul a:hover, #wb_CssMenu1 ul ul :hover ul :hover a, #wb_CssMenu1 ul ul :hover ul a:hover
{
   background-color: #A52A2A;
   background-image: none;
   border: 0px #2F4F4F solid;
   color: #FFFFFF;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#Image1
{
   border: 0px transparent solid;
   padding: 0px 0px 0px 0px;
   -webkit-animation: slide-down-in 1000ms linear 0ms 1 normal;
   -moz-animation: slide-down-in 1000ms linear 0ms 1 normal;
   animation: slide-down-in 1000ms linear 0ms 1 normal;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer2
{
   background-color: #9370DB;
   background-image: none;
   -moz-box-shadow: 0px 0px 3px #696969;
   -webkit-box-shadow: 0px 0px 3px #696969;
   box-shadow: 0px 0px 3px #696969;
}
#wb_About_us 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 15px 0px 15px 0px;
   text-align: center;
}
#wb_About_us
{
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-size: 32px;
}
#wb_About_us div
{
   text-align: center;
}
#wb_Text_2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text_2
{
   font-family: Arial;
   font-weight: normal;
   font-size: 17px;
}
#wb_Text_2 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_Text_1 
{
   background-color: transparent;
   background-image: none;
   border: 0px transparent solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text_1
{
   font-family: "Times New Roman";
   font-weight: normal;
   font-size: 27px;
}
#wb_Text_1 div
{
   text-align: left;
}
#Text1 
{
   border-width: 0;
   margin: 0;
   visibility: hidden;
}
#Layer3
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 15px 0px 15px 0px;
   text-align: center;
}
#wb_Text2
{
   font-family: Arial;
   font-weight: normal;
   font-size: 32px;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_Text15 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text15 div
{
   text-align: left;
}
#wb_Text16 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text16 div
{
   text-align: left;
   white-space: nowrap;
}
#Layer4
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 15px 0px 15px 0px;
   text-align: center;
}
#wb_Text5 div
{
   text-align: center;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#Button1
{
   border: 2px #2E6DA4 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   -moz-box-shadow: 0px 0px 2px #000000;
   -webkit-box-shadow: 0px 0px 2px #000000;
   box-shadow: 0px 0px 2px #000000;
}
#Button2
{
   border: 2px #2E6DA4 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   -moz-box-shadow: 0px 0px 2px #000000;
   -webkit-box-shadow: 0px 0px 2px #000000;
   box-shadow: 0px 0px 2px #000000;
}
#wb_About_us
{
   position: absolute;
   left: 396px;
   top: 61px;
   width: 199px;
   height: 45px;
   visibility: hidden;
   text-align: center;
   z-index: 8;
}
#Layer2_Container
{
   width: 990px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Text2
{
   position: absolute;
   left: 61px;
   top: 17px;
   width: 354px;
   height: 37px;
   visibility: hidden;
   text-align: center;
   z-index: 18;
}
#Text1
{
   position: absolute;
   left: 12px;
   top: 118px;
   width: 371px;
   height: 62px;
   z-index: 10;
}
#Carousel1_next
{
   position: absolute;
   right: 4px;
   top: 47%;
   width: 20px;
   height: 30px;
   z-index: 999;
}
#wb_Text3
{
   position: absolute;
   left: 11px;
   top: 100px;
   width: 440px;
   height: 39px;
   visibility: hidden;
   z-index: 20;
   text-align: left;
}
#wb_Image1
{
   position: absolute;
   left: 88px;
   top: 9px;
   width: 49px;
   height: 52px;
   z-index: 0;
}
#wb_Text4
{
   position: absolute;
   left: 42px;
   top: 139px;
   width: 393px;
   height: 100px;
   visibility: hidden;
   z-index: 19;
   text-align: left;
}
#wb_Bookmark2
{
   position: absolute;
   left: 36px;
   top: 98px;
   width: 27px;
   height: 18px;
   z-index: 13;
}
#Layer1
{
   position: fixed;
   text-align: left;
   left: 0;
   top: 0;
   right: 0;
   height: 69px;
   z-index: 3;
}
#PageHeader1_Container
{
   width: 992px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Text5
{
   position: absolute;
   left: 377px;
   top: 64px;
   width: 237px;
   height: 40px;
   text-align: center;
   z-index: 21;
}
#wb_Bookmark3
{
   position: absolute;
   left: 32px;
   top: 149px;
   width: 35px;
   height: 31px;
   z-index: 17;
}
#Layer2
{
   position: absolute;
   overflow: hidden;
   text-align: center;
   left: 0px;
   top: 627px;
   width: 99.7984%;
   height: 616px;
   z-index: 26;
}
#Carousel1_back
{
   position: absolute;
   left: 4px;
   top: 47%;
   width: 20px;
   height: 30px;
   z-index: 999;
}
#Layer4_Container
{
   width: 992px;
   height: 775px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
   text-align: left;
}
#Layer3
{
   position: absolute;
   text-align: center;
   visibility: hidden;
   left: 1px;
   top: 613px;
   width: 48.0847%;
   height: 366px;
   z-index: 27;
}
#wb_Bookmark4
{
   position: absolute;
   left: 29px;
   top: 268px;
   width: 40px;
   height: 28px;
   z-index: 14;
}
#wb_Text6
{
   position: absolute;
   left: 151px;
   top: 19px;
   width: 212px;
   height: 29px;
   z-index: 1;
   text-align: left;
}
#Layer4
{
   position: absolute;
   overflow: hidden;
   text-align: center;
   left: 0px;
   top: 1245px;
   width: 100%;
   height: 775px;
   z-index: 28;
}
#wb_Bookmark5
{
   position: absolute;
   left: 40px;
   top: 380px;
   width: 18px;
   height: 18px;
   z-index: 15;
}
#wb_Bookmark6
{
   position: absolute;
   left: 39px;
   top: 494px;
   width: 20px;
   height: 18px;
   z-index: 16;
}
#wb_Carousel1
{
   position: absolute;
   left: 0px;
   top: 69px;
   width: 992px;
   height: 558px;
   z-index: 25;
   overflow: hidden;
}
#Bookmark2
{
   visibility: hidden;
}
#PageHeader1
{
   position: absolute;
   text-align: center;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 69px;
   z-index: 29;
}
#Bookmark3
{
   visibility: hidden;
}
#Layer3_Container
{
   width: 477px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#Bookmark4
{
   visibility: hidden;
}
#wb_CssMenu1
{
   position: absolute;
   left: 388px;
   top: 18px;
   width: 583px;
   height: 30px;
   text-align: right;
   z-index: 2;
}
#Button1
{
   position: absolute;
   left: -1px;
   top: 233px;
   width: 96px;
   height: 25px;
   z-index: 22;
}
#Bookmark5
{
   visibility: hidden;
}
#wb_Text15
{
   position: absolute;
   left: 11px;
   top: 369px;
   width: 940px;
   height: 31px;
   visibility: hidden;
   z-index: 11;
   text-align: left;
}
#Carousel1
{
   position: absolute;
}
#Button2
{
   position: absolute;
   left: -1px;
   top: 276px;
   width: 96px;
   height: 25px;
   z-index: 23;
}
#Bookmark6
{
   visibility: hidden;
}
#wb_Text16
{
   position: absolute;
   left: 23px;
   top: 418px;
   width: 513px;
   height: 135px;
   visibility: hidden;
   z-index: 12;
   text-align: left;
}
#wb_Text_1
{
   position: absolute;
   left: 11px;
   top: 145px;
   width: 536px;
   height: 62px;
   visibility: hidden;
   z-index: 9;
   text-align: left;
}
#wb_Text_2
{
   position: absolute;
   left: 23px;
   top: 208px;
   width: 513px;
   height: 100px;
   visibility: hidden;
   z-index: 7;
   text-align: left;
}
@media only screen and (min-width: 480px) and (max-width: 991px)
{
#PageHeader1
{
   top: 0px;
   height: 93px;
   visibility: visible;
   background-color: transparent;
   background-image: none;
}
#PageHeader1
{
   width: 100%;
}
#PageHeader1_Container
{
   width: 480px;
}
#wb_Carousel1
{
   left: 0px;
   top: 93px;
   width: 480px;
   height: 613px;
   visibility: visible;
   display: inline;
}
#Carousel1 .frame
{
   width: 480px;
   height: 613px;
}
#Carousel1 .innerframe
{
   width: 480px;
   height: 0;
}
#Layer1
{
   height: 119px;
   visibility: hidden;
   display: none;
   background-color: #E9967A;
   background-image: none;
}
#wb_CssMenu1
{
   left: 218px;
   top: 53px;
   visibility: hidden;
   display: none;
}
#wb_CssMenu1 li
{
}
#wb_CssMenu1 a
{
   color: #FFFFFF;
   border: 0px #FFFFFF none;
   background-color: #CD5C5C;
   background-image: none;
   font-family: "Bookman Old Style";
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   height: 30px;
   line-height: 30px;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #FFFFFF;
   background-color: #A52A2A;
   background-image: none;
   border: 0px #FFFFFF none;
}
#wb_CssMenu1 a.withsubmenu
{
   padding: 0 5px 0 5px;
}
#wb_CssMenu1 ul :hover ul
{
   left: 0px;
   top: 30px;
   padding-top: 0px;
   visibility: visible;
}
#wb_CssMenu1 .firstmain:hover ul
{
   left: 0px;
}
#wb_CssMenu1 li li
{
   width: 180px;
}
#wb_CssMenu1 ul ul a, #wb_CssMenu1 ul :hover ul a
{
   width: 168px;
   padding: 9px 6px 8px 6px;
   background-color: #CD5C5C;
   border: 0px #2F4F4F solid;
   color: #FFFFFF;
   font-family: "Bookman Old Style";
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   line-height: 13px;
   text-decoration: none;
}
#wb_CssMenu1 ul ul :hover a, #wb_CssMenu1 ul ul a:hover, #wb_CssMenu1 ul ul :hover ul :hover a, #wb_CssMenu1 ul ul :hover ul a:hover
{
   background-color: #A52A2A;
   border: 0px #2F4F4F solid;
   color: #FFFFFF;
}
#wb_Image1
{
   left: 8px;
   top: 0px;
   width: 109px;
   height: 116px;
   visibility: hidden;
   display: none;
}
#Layer2
{
   left: 0px;
   top: 610px;
   height: 411px;
   visibility: hidden;
   display: none;
   font-size: 13px;
   background-color: #9370DB;
   background-image: none;
}
#Layer2
{
   width: 113.75%;
}
#Layer2_Container
{
   width: 546px;
}
#wb_About_us
{
   left: 109px;
   top: 22px;
   width: 265px;
   height: 37px;
   visibility: hidden;
   display: none;
   background-color: transparent;
   background-image: none;
}
#wb_About_us
{
   font-family: Arial;
   font-weight: normal;
   font-size: 32px;
}
#wb_Text_2
{
   left: 45px;
   top: 146px;
   width: 393px;
   height: 100px;
   visibility: hidden;
   display: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text_2
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_Text_1
{
   left: 9px;
   top: 98px;
   width: 536px;
   height: 62px;
   visibility: hidden;
   display: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text_1
{
   font-family: "Times New Roman";
   font-weight: normal;
   font-size: 27px;
}
#Text1
{
   left: 17px;
   top: 89px;
   visibility: hidden;
   display: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   font-family: "Times New Roman";
   font-weight: normal;
   font-size: 19px;
}
#Layer3
{
   left: 0px;
   top: 613px;
   height: 404px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   background-color: #F5F5F5;
   background-image: none;
   border: 1px transparent solid;
}
#Layer3
{
   width: 100%;
}
#Layer3_Container
{
   width: 478px;
}
#wb_Text2
{
   left: 62px;
   top: 46px;
   width: 354px;
   height: 37px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   font-family: Arial;
   font-weight: normal;
   font-size: 32px;
}
#wb_Text3
{
   left: 12px;
   top: 129px;
   width: 440px;
   height: 39px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
   border: 0px transparent solid;
}
#wb_Text4
{
   left: 43px;
   top: 168px;
   width: 393px;
   height: 100px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
   border: 0px transparent solid;
}
#wb_Bookmark2
{
   left: 32px;
   top: 44px;
   width: 36px;
   height: 26px;
   visibility: visible;
   display: inline;
}
#wb_Bookmark3
{
   left: 33px;
   top: 82px;
   width: 35px;
   height: 31px;
   visibility: visible;
   display: inline;
}
#wb_Bookmark4
{
   left: 32px;
   top: 130px;
   width: 40px;
   height: 28px;
   visibility: visible;
   display: inline;
}
#wb_Text15
{
   left: 12px;
   top: 352px;
   width: 940px;
   height: 31px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text16
{
   left: 24px;
   top: 404px;
   width: 513px;
   height: 135px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Bookmark5
{
   left: 41px;
   top: 386px;
   width: 18px;
   height: 18px;
   visibility: visible;
   display: inline;
}
#wb_Bookmark6
{
   left: 40px;
   top: 519px;
   width: 20px;
   height: 18px;
   visibility: visible;
   display: inline;
}
#Layer4
{
   left: 0px;
   top: 1197px;
   height: 319px;
   visibility: hidden;
   display: none;
   font-size: 13px;
   background-color: #FFFFFF;
   background-image: none;
}
#Layer4
{
   width: 202.0833%;
}
#Layer4_Container
{
   width: 970px;
   height:319px;
}
#wb_Text5
{
   left: 366px;
   top: 43px;
   width: 237px;
   height: 40px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text6
{
   left: 157px;
   top: 43px;
   width: 483px;
   height: 30px;
   visibility: hidden;
   display: none;
   font-size: 13px;
   font-family: "Bookman Old Style";
   font-weight: bold;
   background-color: transparent;
   background-image: none;
   border: 0px transparent solid;
   -moz-box-shadow: 4px 0px 20px #000000;
   -webkit-box-shadow: 4px 0px 20px #000000;
   box-shadow: 4px 0px 20px #000000;
}
#Button1
{
   left: 66px;
   top: 358px;
   width: 96px;
   height: 25px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   background-color: #3370B7;
   background-image: none;
}
#Button2
{
   left: 1px;
   top: 324px;
   width: 96px;
   height: 25px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   background-color: #3370B7;
   background-image: none;
}
}
@media only screen and (max-width: 479px)
{
#PageHeader1
{
   top: 0px;
   height: 93px;
   visibility: hidden;
   background-color: transparent;
   background-image: none;
}
#PageHeader1
{
   width: 100%;
}
#PageHeader1_Container
{
   width: 320px;
}
#wb_Carousel1
{
   left: 0px;
   top: 93px;
   width: 320px;
   height: 579px;
   visibility: visible;
   display: inline;
}
#Carousel1 .frame
{
   width: 320px;
   height: 579px;
}
#Carousel1 .innerframe
{
   width: 320px;
   height: 0;
}
#Layer1
{
   height: 93px;
   visibility: hidden;
   display: none;
   background-color: #E9967A;
   background-image: none;
}
#wb_CssMenu1
{
   left: 218px;
   top: 30px;
   visibility: hidden;
   display: none;
}
#wb_CssMenu1 li
{
}
#wb_CssMenu1 a
{
   color: #FFFFFF;
   border: 0px #FFFFFF none;
   background-color: #CD5C5C;
   background-image: none;
   font-family: "Bookman Old Style";
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   height: 30px;
   line-height: 30px;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #FFFFFF;
   background-color: #A52A2A;
   background-image: none;
   border: 0px #FFFFFF none;
}
#wb_CssMenu1 a.withsubmenu
{
   padding: 0 5px 0 5px;
}
#wb_CssMenu1 ul :hover ul
{
   left: 0px;
   top: 30px;
   padding-top: 0px;
   visibility: visible;
}
#wb_CssMenu1 .firstmain:hover ul
{
   left: 0px;
}
#wb_CssMenu1 li li
{
   width: 180px;
}
#wb_CssMenu1 ul ul a, #wb_CssMenu1 ul :hover ul a
{
   width: 168px;
   padding: 9px 6px 8px 6px;
   background-color: #CD5C5C;
   border: 0px #2F4F4F solid;
   color: #FFFFFF;
   font-family: "Bookman Old Style";
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   line-height: 13px;
   text-decoration: none;
}
#wb_CssMenu1 ul ul :hover a, #wb_CssMenu1 ul ul a:hover, #wb_CssMenu1 ul ul :hover ul :hover a, #wb_CssMenu1 ul ul :hover ul a:hover
{
   background-color: #A52A2A;
   border: 0px #2F4F4F solid;
   color: #FFFFFF;
}
#wb_Image1
{
   left: 9px;
   top: 3px;
   width: 81px;
   height: 85px;
   visibility: hidden;
   display: none;
}
#Layer2
{
   left: 0px;
   top: 622px;
   height: 588px;
   visibility: hidden;
   display: none;
   font-size: 8px;
   background-color: #9370DB;
   background-image: none;
}
#Layer2
{
   width: 303.125%;
}
#Layer2_Container
{
   width: 970px;
}
#wb_About_us
{
   left: 405px;
   top: 32px;
   width: 160px;
   height: 37px;
   visibility: hidden;
   display: none;
   background-color: transparent;
   background-image: none;
}
#wb_About_us
{
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-size: 32px;
}
#wb_Text_2
{
   left: 24px;
   top: 179px;
   width: 513px;
   height: 100px;
   visibility: hidden;
   display: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text_2
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_Text_1
{
   left: 12px;
   top: 116px;
   width: 536px;
   height: 62px;
   visibility: hidden;
   display: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text_1
{
   font-family: "Times New Roman";
   font-weight: normal;
   font-size: 19px;
}
#Text1
{
   left: 13px;
   top: 89px;
   visibility: hidden;
   display: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   font-family: "Times New Roman";
   font-weight: normal;
   font-size: 19px;
}
#Layer3
{
   left: 0px;
   top: 672px;
   height: 366px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   background-color: #F5F5F5;
   background-image: none;
   border: 1px #CCCCCC solid;
}
#Layer3
{
   width: 100%;
}
#Layer3_Container
{
   width: 318px;
}
#wb_Text2
{
   left: 61px;
   top: 17px;
   width: 186px;
   height: 24px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
   border: 0px transparent solid;
}
#wb_Text2
{
   font-family: Arial;
   font-weight: normal;
   font-size: 21px;
}
#wb_Text3
{
   left: 13px;
   top: 79px;
   width: 297px;
   height: 39px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
}
#wb_Text4
{
   left: 38px;
   top: 108px;
   width: 233px;
   height: 150px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
}
#wb_Bookmark2
{
   left: 32px;
   top: 85px;
   width: 36px;
   height: 26px;
   visibility: hidden;
   display: none;
}
#wb_Bookmark3
{
   left: 33px;
   top: 137px;
   width: 35px;
   height: 31px;
   visibility: hidden;
   display: none;
}
#wb_Bookmark4
{
   left: 30px;
   top: 256px;
   width: 40px;
   height: 28px;
   visibility: hidden;
   display: none;
}
#wb_Text15
{
   left: 12px;
   top: 340px;
   width: 940px;
   height: 31px;
   visibility: hidden;
   display: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text16
{
   left: 24px;
   top: 389px;
   width: 513px;
   height: 135px;
   visibility: hidden;
   display: none;
   background-color: transparent;
   background-image: none;
}
#wb_Bookmark5
{
   left: 41px;
   top: 374px;
   width: 18px;
   height: 18px;
   visibility: hidden;
   display: none;
}
#wb_Bookmark6
{
   left: 40px;
   top: 507px;
   width: 20px;
   height: 18px;
   visibility: hidden;
   display: none;
}
#Layer4
{
   left: 0px;
   top: 1210px;
   height: 319px;
   visibility: hidden;
   display: none;
   font-size: 8px;
   background-color: #FFFFFF;
   background-image: none;
}
#Layer4
{
   width: 303.125%;
}
#Layer4_Container
{
   width: 970px;
   height:319px;
}
#wb_Text5
{
   left: 366px;
   top: 30px;
   width: 237px;
   height: 37px;
   visibility: hidden;
   display: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text6
{
   left: 218px;
   top: 43px;
   width: 483px;
   height: 29px;
   visibility: hidden;
   display: none;
   background-color: transparent;
   background-image: none;
}
#Button1
{
   left: 66px;
   top: 345px;
   width: 96px;
   height: 25px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   background-color: #3370B7;
   background-image: none;
}
#Button2
{
   left: 1px;
   top: 311px;
   width: 96px;
   height: 25px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   background-color: #3370B7;
   background-image: none;
}
}
